SITE_BASIC_AUTH_USERNAME = 
SITE_BASIC_AUTH_PASSWORD = 

TEST_ENV = 
TEST_RESELLER = 

TEST_PASSWORD = 
NEW_PASSWORD_FOR_RESET_PASSSWORD =
USER_EMAIL_TEMPLATE =

QA_EMAIL =
QA_EMAIL_PASSWORD =

QA_PAY_PAL_EMAIL =
QA_PAY_PAL_PASSWORD =

